@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-[#101010];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  @apply flex-none w-64 bg-white dark:bg-[#141414] border-r border-gray-200 dark:border-gray-700 overflow-auto;
}

.content {
  @apply flex-1 p-4 bg-gray-50 dark:bg-[#101010] text-gray-900 dark:text-gray-100 overflow-auto;
}
